#site-right {
    min-height: 100vh; 
    background-image: url(../images/wrinkledPaper.png)
}

#site-left, #stats {
    min-height: 100vh; 
    background-color: rgb(145, 215, 236);
    /* background-color: rgb(116, 187, 128); */
}

#dwight1 {
    margin-left: 60%; 
}

#dwight2 {
    display: block; 
    margin: auto; 
    margin-top: 30%; 
}

#dwight3 {
    display: block; 
    margin: auto; 
    margin-top: 40%; 
    margin-left: 10px; 
}

#introduction {
    min-height: 70vh;
    min-width: 100vh; 
}

#top {
    height: 30vh; 
    min-width: 100vh; 
}

#first-page {
    min-height: 100vh;
    min-width: 100vw; 
    background-color: rgb(145, 215, 236);
    top: 0px; 
}

#title {
    color: black; 
    font-family: 'Bitter', serif; 
    font-size: 100px; 
}

#intro-caption {
    color: white; 
    font-family: 'Bitter', serif; 
    font-size: 30px; 
}

#qeustion {
    color: black; 
    font-family: 'Bitter', serif;
    font-size: 30px;
    text-align: center; 
}

#dwight-says {
    color: white; 
    font-family: 'Bitter', serif; 
    font-size: 50px; 
    text-align: center; 
}

#question {
    font-size: 30px; 
    text-align: center; 
}

.card {
    margin-top: 20%;
    margin-left: 10%; 
    width: 70%; 
}

#remaining-time, #correct-answer {
    font-family: 'Bitter', serif;
    font-size: 20px; 
    margin-left: 10px; 
}

#correct-answer {
    font-family: 'Bitter', serif; 
    font-size: 20px; 
    text-align: center; 
    color: white; 
}

#score-sheet {
    background-color: white; 
    height: 30vh; 
    border: solid black 3px; 
    margin-top: 40%;
    font-family: 'Bitter', serif; 
    text-align: center; 
}

#wins, #losses {
    font-size: 20px; 
}

#restart {
    text-align: center; 
}

